/* ── Rofi Config ──────────────────────────────
   Location: ~/.config/rofi/config_powermenu.rasi
   Description: Basic configuration + theme import
   ─────────────────────────────────────────── */

configuration {
    modi: "drun,run";                    // Available modes
    show-icons: true;                    // Show app icons
    font: "JetBrainsMono Nerd Font 12";  // Global font
}

/* Import active theme */
@theme "~/.config/rofi/theme_powermenu.rasi"

